$color1: #ff6633;
$color2: #4673ab;
$textSize: 13px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    transition: 0.2s;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

ul li {
    list-style-type: none;
}

h2 {
    color: #040d0d;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    text-transform: uppercase;
}
@media(max-width:1160px)and(min-width:320px){
    .center{
          padding-left: 3%;
    padding-right: 3%;
    }
    .arrow__right {
        right: 25px;
        z-index: 1;
    }
  
}