.brands {
    margin-top: 50px;

    &__bottom {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__img{
        margin-bottom: 15px;
    }


}

.products-block__line_brand {
    width: 740px;
}