.mobile__tel {
    display: none;
}

.header {
    &__top {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
    }

    &__p {
        font-size: $textSize;
        color: #696969;

    }

    &__a {
        color: $color2;

        &_margin-right {
            margin-right: 20px;
        }

        &_dashed {
            border-bottom: 1px dashed;
        }

        &_solid {
            border-bottom: 1px solid;
        }

        &:hover {
            color: $color1;
        }
    }

    &__bottom {

        display: flex;
        justify-content: space-between;
    }

    &__logo {
        margin-top: 18px;
    }

    &__call {
        position: relative;
    }

    &__contacts {
        margin-top: 12px;
        display: flex;
        width: 282px;
    }

    &__messengers {
        display: flex;
        margin-top: 5px;
    }

    &__tel {
        width: 190px;
    }

    &__phone {
        font-size: 18px;
        font-weight: bold;
    }

    &__days {
        font-size: 11px;
        margin-top: 2px;
    }

    &__viber {
        margin-right: 5px;
    }

    &__email {
        display: inline-flex;
        margin-top: 3px;
        color: #4673ab;
        font-size: 13px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        border-bottom: 1px solid;
    }

    &__search {
        width: 235px;
        margin-top: 12px;
    }

    &__cart {
        margin-top: 12px;
    }




}

.logo {

    &__a {
        font-size: 46px;
        font-weight: 300;
        color: black;

    }

    &__span {
        color: $color1;
        font-weight: 400;
        background-image: url(img/header/logo.png);
        background-repeat: no-repeat;
        border-radius: 10px;
        background-position-y: -20px;
    }

    &__p {

        font-size: 10px;
        color: #c4c6c7;
        text-transform: uppercase;
        margin-top: 4px;
    }
}

.call {

    height: 70px;
    width: 115px;

    &__a {
        font-size: 12px;
        font-weight: 400;
        color: $color2;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
        position: absolute;
        left: 20px;
        top: 17px;
        text-decoration: underline;
        line-height: 16px;

        &:hover {
            color: $color1;
        }

    }

    &__img {
        // position:absolute;
        z-index: -1;
        display: block;
    }
}

.tel {
    font-size: 12px;
    line-height: 18px;
}

.search {

    &__top {
        display: flex;
    }

    &__bottom {
        margin-top: 12px;
    }

    &__form {
        display: flex;
    }


    &__img {
        width: 25px;
        height: 25px;
        margin-top: 5px;
        margin-right: 5px;
    }

    &__p {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 18px;
        font-style: italic;
        text-transform: uppercase;
    }

    &__color {

        color: $color1;
        font-size: 16px;
        font-weight: 500;
        font-style: italic;
        letter-spacing: normal;
        line-height: 18px;
        text-align: right;
        text-transform: uppercase;
    }

    &__input {
        height: 30px;
        width: 168px;
        border-radius: 4px 0 0 4px;
        background-color: #eff0f4;
        outline: none;
        border: none;
        padding-left: 10px;
        font-size: 13px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
    }

    &__button {
        width: 58px;
        height: 26px;
        border-radius: 3px;
        background-color: #ff5816;
        border: none;
        font-size: 13px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
        color: #ffffff;
        margin-top: 2px;
        margin-right: 2px;

        &:hover {
            cursor: pointer;
        }
    }

    &__block {
        height: 30px;
        background-color: #eff0f4;
        border-radius: 0 4px 4px 0;
    }
}

.cart {

    &__top {
        padding-top: 12px;
        padding-left: 17px;
        display: flex;
        background-image: url(img/header/backgr.png);
        background-repeat: no-repeat;
        height: 52px;
        width: 195px;
    }

    &__bottom {
        margin-top: 6px;
        display: flex;
        justify-content: space-between;
    }

    &__basket {
        width: 26px;
        height: 22px;
        margin-right: 14px;
        margin-top: 3px;
    }

    &__p {
        color: #040d0d;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: normal;
        line-height: 18px;
        text-transform: uppercase;
    }

    &__quantity {
        color: #4673ab;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        border-bottom: 1px solid;
    }

    &__price {
        font-weight: 400;
        text-transform: lowercase;
    }

    &__left {
        margin-right: 7px;
    }

    &__left,
    &__right {
        // width: 95px;
        display: inline-flex;
        border-bottom: 1px dotted;
    }

    &__favorites {
        width: 15px;
        height: 13px;
        margin-right: 7px;
    }

    &__comparison {
        width: 15px;
        height: 20px;
        margin-right: 7px;
    }

}

.favorites,
.comparison {
    &__p {
        color: #363c3e;
        font-size: 11px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 18px;
        margin-right: 5px;

        &:hover {
            color: $color1;
            transition: 0.2s;
        }
    }

    &__span {
        color: #4673ab;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 16px;
    }
}
.cart-mobile{
    display: none;
}

// @media(max-width:1160px)and(min-width:900px) {
//     .header {
//         &__bottom {
//             justify-content: space-around;
//         }
//     }

//     @media(max-width:1024px) {
//         .header {
//             &__bottom {
//                 justify-content: space-between;
//             }
//         }
//     }
// }

// @media(max-width:899px)and(min-width:768px) {
//     .header {
//         &__bottom {
//             justify-content: space-around;
//         }

//         &__contacts {
//             width: 170px;
//         }

//         &__call {
//             display: none;
//         }
//     }
// }

// @media(max-width:767px)and(min-width:425px) {
//     .mobile__tel {
//         display: block;
//     }

//     .header {
//         &__bottom {
//             justify-content: space-around;
//         }
//     }
// }


// @media(max-width:1160px)and(min-width:320px) {
//     .header {
//         &__search {
//             display: none;
//         }
//     }
// }