@media(max-width:1160px)and(min-width:1024px) {

    .center {
        padding-left: 5%;
        padding-right: 5%;
    }

    .promo {
        margin-left: 15px;

        &__top {
            width: 647px;
            padding-left: 25px;
        }

        &__text,
        &__goods {
            font-size: 12px;
        }

        &__block,
        &__bottom {
            width: 647px;
            border-radius: 12px;
        }

        &__decision {
            line-height: 30px;
            font-size: 27px;
        }

        &__h4 {
            font-size: 25px;
        }

        &__p {
            font-size: 17px;
        }

        &__li {
            line-height: 24px;
            font-size: 12px;
        }

        &__ul {
            margin-top: 30px;
            position: relative;
            z-index: 1;
        }

        &__picture {
            width: 290px;
            height: 240px;
            top: 130px;
        }

    }

    .arrow__right {
        right: 25px;
        z-index: 1;
    }

    .products-block {
        &__line {
            width: 745px;

            &_width {
                width: 670px;
            }

            &_now {
                width: 600px;
            }

            &_power {
                width: 580px;
            }

        }

        &__bottom {
            width: 945px;
        }

    }

    .product {
        width: 213px;
        margin-right: 30px;
    }

    .products__box {
        justify-content: start;
    }

    .reason {

        &__left,
        &__right {
            width: 450px;
            height: 400px;
        }

        &__heading {
            height: 85px;
        }

    }



}

@media(max-width:1160px)and(min-width:320px) {

    .nav-top {
        justify-content: center;
        display: flex;

        &__ul {
            display: none;
        }
    }

    .menu__mobile {
        display: flex;
    }

    .header {
        &__search {
            display: none;
        }
    }

    .products-block {
        &__arrows {
            display: flex;
            margin-left: 20px;
        }

        &__arrow {
            display: block;
        }

        &__all {
            display: none;
        }

        .product__prev,
        .product__next {
            display: none;
        }
    }
}
@media(max-width:1160px)and(min-width:500px){
    .statistics{
        &__bottom{
            flex-wrap: wrap;
        }
        
    }
}
@media(max-width:499px)and(min-width:425px){
    .statistics{
        &__bottom{
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}
@media(max-width:424px)and(min-width:320px){
    .statistics{
        display: none;
    }
}

@media(max-width:1024px) {
    .header {
        &__bottom {
            justify-content: space-between;
        }
    }

    .news-promo {
        display: flex;
        justify-content: space-between;
    }
}

@media(max-width:1023px)and(min-width:900px) {
    .center {
        padding-left: 5%;
        padding-right: 5%;
    }

    .header {
        &__bottom {
            justify-content: space-around;
        }
    }

    .news-promo {
        display: flex;
        justify-content: space-around;
    }

    .promo {
        margin-left: 15px;

        &__top {
            width: 550px;
            padding-left: 25px;
        }

        &__text,
        &__goods {
            font-size: 10px;
        }

        &__block,
        &__bottom {
            width: 550px;
            border-radius: 12px;
            padding-top: 30px;

        }

        &__bottom {
            margin-top: 0px;
            // justify-content: space-around;
        }

        &__picture {
            width: 220px;
            bottom: 31px;
            top: auto;
        }

        &__li {
            font-size: 10px;
        }

        &__decision {
            font-size: 20px;
            line-height: 22px;
        }

        &__h4 {
            font-size: 20px;

        }

        &__p {
            font-size: 15px;

        }

        &__ul {
            margin-left: 0;
        }
    }

    .news {
        &__hr {
            width: 247px;
        }

        &__h2 {
            font-size: 21px;
        }

        &__right {
            width: 150px;
        }

        &__block {
            width: auto;
            margin-top: 20px;
        }
    }

    .products-block {
        &__bottom {
            width: 850px;
            // border: 1px solid black;
        }

        &__line {
            width: 600px;

            &_width {
                width: 540px;
            }

            &_power {
                width: 450px;
            }
        }
    }

    .now {
        &__img {
            height: 180px;
            width: 190px;
        }
    }

    .reason {
        .heading__p {
            line-height: 15px;
        }

        &__left,
        &__right {
            width: 400px;
            height: 450px;
        }
    }

}

@media(max-width:899px)and(min-width:768px) {
    .center {
        padding-left: 3%;
        padding-right: 3%;
    }

    .header {
        &__bottom {
            justify-content: space-around;
        }

        &__contacts {
            width: 170px;
        }

        &__call {
            display: none;
        }
    }

    .news-promo {
        justify-content: space-around;
    }

    .promo {
        margin-left: 0;

        &__block,
        &__bottom {
            width: 470px;
        }

        &__bottom {
            margin-top: 25px;
        }

        &__block {
            border-radius: 10px;
        }

        &__top {
            width: 470px;

        }

        &__picture {
            width: 250px;
            bottom: 0;
            top: auto;
        }

        &__li {
            font-size: 10px;
            line-height: 17px;
            margin-left: 0px;
        }

        &__ul {
            margin-top: 48px;
        }

        &__button {
            margin-top: 50px;
            width: 154px;
            height: 40px;
        }

        &__h4 {
            font-size: 20px;
        }

        &__decision {
            font-size: 20px;
        }

        &__goods,
        &__text {
            font-size: 9px;
        }
    }

    .news {
        &__h2 {
            font-size: 20px;
        }

        &__hr {
            width: 233px;
        }

        &__right {
            width: 150px;
        }

        &__block {
            width: 230px;
        }
    }

    .promo__top,
    .news {
        margin-top: 10px;
    }

    .products-block {
        &__line {
            width: 490px;

            &_width {
                width: 420px;
            }

            &_power {
                width: 395px;
            }

            &_reason {
                width: 266px;
            }

        }

        &__bottom {
            width: 730px;
            // border: 1px solid black;
        }

        .products__box {
            justify-content: start;
        }

        .product {
            width: 213px;
            margin-right: 18px;
        }
    }

    .now {
        &__bottom {
            width: auto;
            // overflow: hidden;
        }

        &__img {
            height: 200px;
            width: 240px;
        }

        &__p {
            font-size: 17px;
        }

        &__block {
            &_display {
                display: none;
            }
        }
    }

    .reason {
        .heading__p {
            line-height: 15px;
            font-size: 15px;

        }

        &__left,
        &__right {
            width: 345px;
            height: 490px;

        }
    }

}

@media(max-width:767px)and(min-width:625px) {
    .header {
        &__bottom {
            justify-content: space-around;
        }
    }

    .products-block {
        &__top {
            justify-content: center;
        }

        &__bottom {
            width: 555px;
            margin-left: 35px;
        }

        &__line {
            width: 350px;

            &_power {
                width: 255px;
            }
        }
    }

    .now {
        &__bottom {
            width: auto;
            margin-left: 15px;
            // overflow: hidden;
        }

        &__img {
            height: 150px;
            width: 190px;
        }

        &__p {
            font-size: 15px;
        }

        &__block {
            &_display {
                display: none;
            }
        }
    }

    .power {
        &__circle {
            width: 90px;
            height: 90px;
        }

        &__p {
            max-width: 150px;
            font-size: 11px;
        }
    }

    .reason {


        &__bottom {
            flex-wrap: wrap;
        }

        &__left,
        &__right {
            width: auto;
            height: 400px;
        }
    }
}

@media(max-width:624px)and(min-width:320px) {
    .now {
        display: none;
    }
}

@media(max-width:624px)and(min-width:425px) {
    .center {
        padding-left: 3%;
        padding-right: 3%;
    }

    .header {
        &__bottom {
            justify-content: space-around;

        }
    }

    .products-block {
        &__line {
            width: 140px;

            &_width {
                width: 80px;
            }

            &_power {
                display: none;
            }
            
        }
&__h2{
                &_reason{
                    font-size: 18px;
                }
            }
        .product {
            width: 255px;
            margin-right: 20px;
        }

        .products__box {
            justify-content: start;
        }

        &__bottom {

            width: 255px;
            margin-left: 100px;
        }
    }

    .power {
        &__general {
            height: auto;
            padding-bottom: 15px;
        }

        &__bottom {
            flex-wrap: wrap;
        }

        &__block {
            margin-top: 10px;
        }
    }
    .reason {


        &__bottom {
            flex-wrap: wrap;
        }

        &__left,
        &__right {
            width: auto;
            height: 450px;
            margin-bottom: 10px;
        }
        .heading__p{
            font-size: 14px;
            line-height: 15px;
        }
    }


}

@media(max-width:424px)and(min-width:320px) {
    .center {
        padding-left: 5%;
        padding-right: 5%;
    }

    .header {
        &__phone {
            font-size: 15px;
            margin-top: 19px;

        }

        &__entrance {
            display: none;
        }

        &__a {
            font-size: 13px;
        }

        &__viber {
            height: 16px;
            width: 16px;
        }

        &__cart {
            display: none;
        }

        &__messengers {

            margin-top: 10px;

        }
    }

    .logo__a {
        font-size: 32px;
    }

    .logo__p {
        display: none;
    }

    .tel {
        font-size: 13px;
    }

    .cart-mobile {
        margin-top: 22px;
        display: block;
    }

    .mobile__cart {
        margin-left: 22px;
    }

    .cart-mobile {
        &__mail {
            margin-top: 23px;
        }

        &__skype-name {
            margin-left: 3px;
            font-size: 13px;
        }

    }

    .skype {
        display: flex;
        margin-top: 12px;
    }

    .mail__a {

        color: $color2;

        font-size: 13px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
        text-align: left;
        text-decoration: underline;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }

    .brands {
        display: none;
    }

    .power {
        display: none;
    }
    .reason{
        display: none;
    }


}

@media(max-width:424px)and(min-width:375px) {
    .products-block {
        &__line {
            width: 60px;

            &_width {
                width: 0;
            }
        }

        &__bottom {
            width: 275px;
            margin-left: 21px;
        }
    }
}

@media(max-width:767px)and(min-width:320px) {
    .news-promo {
        display: none;
    }

    .mobile__tel {
        display: block;
    }

    .header {
        &__contacts {
            display: none;
        }
    }
}

@media(max-width:374px)and(min-width:320px) {
    .products-block {
        &__line {
            width: 75px;
            margin-right: 0;

            &_width {
                width: 20px;
            }
        }

        &__h2 {
            font-size: 17px;
        }
    }
}