.menu {
    display: flex;
    margin-top: 30px;

}

.nav {
    &__menu {
        display: flex;
    }

    &__left {
        border-right: 1px solid;
        width: 15px;
        border-radius: 10px 0 0 10px;
        display: none;
    }

    &__right {
        border-radius: 0 10px 10px 0;
    }

    &__right,
    &__left {
        width: 15px;
        height: 48px;
        border-right: 1px solid #ff885a;
        background-color: #d94206;
        box-shadow: inset 0 -3px 0 rgba(0, 1, 1, 0.23);

        &:hover {
            cursor: pointer;
        }
    }

    &__slider {
        height: 48px;
        display: flex;
    }

    &__block {
        width: 111px;
        height: 48px;
        border-right: 1px solid #ff885a;
        background-color: #ff5816;
        box-shadow: inset 0 -3px 0 rgba(0, 1, 1, 0.23);
        color: #ffffff;
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 16px;
        text-transform: uppercase;
        padding-top: 7px;
        padding-left: 5px;
        display: block;

        &:hover {
            text-decoration: underline;
            box-shadow: none;
        }

        &_width {
            width: 85px;
        }

        &_width2 {
            width: 100px;
        }

        &_width3 {
            width: 180px;
        }

        &_margin {
            padding-top: 15px;

        }

        &:hover {
            background-color: #ff743d;
        }

        &:hover .nav__a {
            text-decoration: underline;
        }
    }

}
@media(max-width:1160px)and(min-width:320px){
    .menu{
        display: none;
    }
}